[submodule "modules/puppetlabs-mysql"]
	path = modules/puppetlabs-mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/puppetlabs-stdlib"]
	path = modules/puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/mc0e-gitlab_prerequisites"]
       path = modules/mc0e-gitlab_prerequisites
       url = https://github.com/mc0e/puppet-gitlab_prerequisites
[submodule "modules/mc0e-gitlab"]
       path = modules/mc0e-gitlab
       url = https://github.com/mc0e/puppet-gitlab

